
/* Site wide resets */
body {
  margin: 0;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');


/* Index Page Header */
.index-header {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #006994; /* Ocean Blue */
  color: white;
}

.header-title {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* Index Page Main Content */
.main-content {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 400px;
}

/* Location Section Style */
.location-section {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.location-container {
  width: 80%;
  text-align: center;
}

.location-video-container {
  width: 100%;
  height: 80%;
  position: relative;
}

iframe.location-video {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Head Count Section Style */
.head-count-section {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.head-count-title {
  margin-bottom: 50px;
}

.head-count-number {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}

.head-count-refresh-button {
  padding: 10px 20px;
  background: none;
  border: 1px black solid;
  font-size: 18px;
}

.head-count-refresh-button:hover {
  background: black;
  color: white;
  cursor: pointer;
}