
/* Site wide resets */
body {
  margin: 0;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');


/* Index Page Header */
.index-header {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background: black;
  color: white;
}

.header-title {
  font-size: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* Index Page Main Content */
.main-content {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

/* Location Section Style */
.location-section {
  width: 50%;
  display: flex;
  justify-content: center;
}

/* Head Count Section Style */
.head-count-section {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.head-count-number {
  font-size: 28px;
  font-weight: 900;
}

.head-count-refresh-button {
  padding: 10px 30px;
  background: none;
  border: 1px black solid;
  font-size: 14px;
}

.head-count-refresh-button:hover {
  background: black;
  color: white;
}