<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Surf Head Count App</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/html2canvas.js"></script>

  <!-- Script -->
  <script type='text/javascript'>
    function screenshot(){
      html2canvas(document.getElementsByClassName('location-video-container')[0]).then(function(canvas) {
      document.body.appendChild(canvas);
     });
     var dataURL = canvas.toDataURL();
     console.log(dataURL)
    }
    </script>
  </head>

  <body>
  
    <header class="index-header">
      
      <h3 class="header-title">Surf Head Count App</h3>
      
    </header>
    
    <!--This is where the main content can go-->
    <section class="main-content">
      
      <!--Column 1: Location & Image -->
      <div class="location-section">
        <div class="location-container">
          <h3 class="location-title">Location: Lahaina Harbor</h3>
          <!--Maybe can add a map or image-->
          <div class="location-video-container">
            <iframe class="location-video" src="https://embed.cdn-surfline.com/cams/5e1544905b0da16d1e6ff526/736d5cbb14a8125f9b0fdfb471286c88f125c3df" frameborder="0" allowfullscreen>
            </iframe>
            
          </div>

        </div>
      </div>


      
      <!--Column 2: Current Head Count & Refresh -->
      <div class="head-count-section">
        
        <div class="head-count-container">
          <h3 class="head-count-title">Current Head Count</h3>
          
          <p class="head-count-number">
            <!--Insert Computer Vision result here-->
            <!--Just a Placeholder-->
            {{count}} People
          </p>
          
          <form class="head-count-refresh">
            <input type="submit" value="Refresh Count" class="head-count-refresh-button" onclick='screennchot();'></input>
          </form>
        </div>
        
      </div>
      
      
    </section>
  
  </body>

</html>