<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Surf Head Count App</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
  
    <header class="index-header">
      
      <h3 class="header-title">Surf Head Count App</h3>
      
    </header>
    
    <!--This is where the main content can go-->
    <section class="main-content">
      
      <!--Column 1: Location & Image -->
      <div class="location-section">
        <div class="location-container">
          <h3 class="location-title">Location</h3>
          <!--Maybe can add a map or image-->
        </div>
      </div>
      
      <!--Column 2: Current Head Count & Refresh -->
      <div class="head-count-section">
        
        <div class="head-count-container">
          <h3 class="head-count-title">Current Head Count</h3>
          
          <p class="head-count-number">
            <!--Insert Computer Vision result here-->
            <!--Just a Placeholder-->
            25
          </p>
          
          <form class="head-count-refresh" action="/" method="POST">
            <input type="submit" value="Refresh Count" class="head-count-refresh-button"></input>
          </form>
        </div>
        
      </div>
      
      
    </section>
  
  </body>

</html>